@model ReadersRealm.ViewModels.Category.DeleteCategoryViewModel

<form method="post" class="w-100" style="display: flex; justify-content: center">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4 w-50 px-4 border-black">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr/>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Name"></label>
            <input type="text" class="form-control" asp-for="Name" disabled="disabled"/>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="DisplayOrder"></label>
            <input type="text" class="form-control" asp-for="DisplayOrder" disabled="disabled"/>
        </div>
        <div class="row">
            <div class="col-6">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Back To List
                </a>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary bg-black text-white form-control">Delete</button>
            </div>
        </div>
    </div>
</form>