@model IEnumerable<AllCategoriesViewModel>

<div class="container p-0">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i> Create A New Category
            </a>
        </div>
    </div>
</div>

<table class="table table-hover table-striped table-bordered border-black">
    <thead>
        <tr>
            <th scope="col">
                Category Name
            </th>
            <th scope="col">
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (AllCategoriesViewModel categoryModel in @Model.OrderBy(c => c.DisplayOrder))
        {
            <tr>
                <td>
                    @categoryModel.Name
                </td>
                <td>
                    @categoryModel.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>