@model DeleteAuthorViewModel

<form method="post" class="w-100" style="display: flex; -o-justify-content: center; -webkit-justify-content: center; justify-content: center">
    <input asp-for="Id" hidden />
    <fieldset class="border p-3 mt-4 w-50 px-4 border-black">
        <legend class="text-primary">Delete Author</legend>
        <div class="row pb-2">
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="FirstName" aria-label="FirstName"></label>
            <input type="text" class="form-control" asp-for="FirstName" disabled />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="MiddleName" aria-label="MiddleName"></label>
            <input type="text" class="form-control" asp-for="MiddleName" disabled />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="LastName" aria-label="LastName"></label>
            <input type="text" class="form-control" asp-for="LastName" disabled />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0 text-dark" asp-for="Age" aria-label="Age"></label>
            <input type="number" class="form-control" asp-for="Age" disabled />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Email" aria-label="Email"></label>
            <input type="text" class="form-control" asp-for="Email" disabled />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="PhoneNumber" aria-label="PhoneNumber"></label>
            <input type="text" class="form-control" asp-for="PhoneNumber" disabled />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Gender" aria-label="Gender"></label>
            <select asp-for="Gender" name="Gender" disabled>
                <option value="@Model.Gender">@Model.Gender</option>
            </select>
        </div>
        <div class="row">
            <div class="col-6">
                <a asp-controller="Author" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Back To List
                </a>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary bg-black text-white form-control">Delete</button>
            </div>
        </div>
    </fieldset>
</form>
