@page
@model ReadersRealm.Web.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; color: #333333;">Confirm Your Registration</h1>
<p style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; color: #555555;">
    Thank you for signing up with Readers Realm! You're just one click away from activating your account and starting your journey with us.
</p>
<p style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; color: #555555;">
    Please check your email for a message with your account confirmation link. If you don't receive the email within a few minutes, check your spam folder or contact our support team for assistance.
</p>