<section class="d-flex align-items-center min-vh-100 py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
                <div class="lc-block">
                    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_kcsr6fcp.json" background="transparent" speed="1" loop="" autoplay=""></lottie-player>
                </div>
            </div>  
            <div class="col-md-6 text-center text-md-start ">
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h1 class="fw-bold h4">PAGE NOT FOUND!<br></h1>
                    </div>
                </div>
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h1 class="display-1 fw-bold text-muted">Error 404</h1>

                    </div>
                </div>
                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="rfs-11 fw-light"> The page you are looking for was moved, removed or might never existed.</p>
                    </div>
                </div>
                <div class="lc-block">
                    <a
                        asp-controller="Home"
                        asp-action="Index"
                        asp-route-pageIndex="0"
                        asp-route-searchTerm=""
                        class="btn btn-sm btn-primary">
                        Back to homepage
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>